*{
  margin: 0px;
  padding: 0px ;
  outline: 0px;
}
.App {
  background-image: url('../src/weather.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  filter: blur(6px);
}
.cont {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
